@import "http://fonts.fontstorage.com/import/poppins.css";
body{
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, #f9d423, #e65c00);
}

.container h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Poppins';
    color: transparent;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 85px;
    margin: 0;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.7);
    line-height: 85px;
}

.contents div{
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 6px solid rgba(0, 0, 0, 1);
}

.contents div:nth-child(1){
    top: 11%;
    left: 50%;
    animation: animate 10s linear infinite;
}

.contents div:nth-child(2){
    top: 90%;
    left: 49%;
    animation: animate 7s linear infinite;
}

.contents div:nth-child(3){
    top: 62%;
    left: 10%;
    animation: animate 9s linear infinite;
}

.contents div:nth-child(4){
    top: 45%;
    left: 78%;
    animation: animate 10s linear infinite;
}

.contents div:nth-child(5){
    top: 60%;
    left: 45%;
    animation: animate 10s linear infinite;
}

.contents div:nth-child(6){
    top: 30%;
    left: 30%;
    animation: animate 12s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(-90px) rotate(360deg);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(180deg);
        border-radius: 100%;
        opacity: 0;
    }
}